[submodule "Boost"]
	path = Boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "crypto++"]
	path = crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "fost-base"]
	path = fost-base
	url = git@github.com:KayEss/fost-base.git
[submodule "fost-aws"]
	path = fost-aws
	url = git@github.com:KayEss/fost-aws.git
[submodule "fost-internet"]
	path = fost-internet
	url = git@github.com:KayEss/fost-internet.git
[submodule "fost-web"]
	path = fost-web
	url = git@github.com:KayEss/fost-web.git
[submodule "fost-beanbag"]
	path = fost-beanbag
	url = git@github.com:KayEss/fost-beanbag.git
[submodule "threading"]
	path = threading
	url = git@github.com:KayEss/f5-threading.git
[submodule "cord"]
	path = cord
	url = git@github.com:KayEss/f5-cord.git
[submodule "fost-postgres"]
	path = fost-postgres
	url = git@github.com:KayEss/fost-postgres.git
[submodule "fostgres"]
	path = fostgres
	url = git@github.com:KayEss/fostgres.git
[submodule "odin"]
	path = odin
	url = git@github.com:KayEss/odin.git
[submodule "fost-wright"]
	path = fost-wright
	url = git@github.com:KayEss/fost-wright.git
[submodule "json-schema"]
	path = json-schema
	url = git@github.com:KayEss/json-schema.git
[submodule "libpqxx"]
	path = libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "pgasio"]
	path = pgasio
	url = git@github.com:KayEss/pgasio.git
[submodule "mdca-platform"]
	path = mdca-platform
	url = git@github.com:wfp/MDCA-Platform.git
